@{
    ViewData["Title"] = "A propos";
}

    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </div>
    <div class="container-fluid p-4" style="background-color: #e3f2fd;">
        <p>BoVoyage est un site qui...</p>
    </div>

        @section Scripts
{
            <script type="text/javascript" src="/scripts/main.js"></script>
        }
