@*@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "TOUS LES ROLES";
}

    <h1>TOUS LES ROLES</h1>

@if (Model.Any())
    //Pour chaque Model ( Role) Nous affichons son Id et son nom
{
    @foreach (var role in Model)
    {
<div class="card mb-3">
    <div class="card-header">
        Role Id : @role.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@role.Name</h5>
    </div>

    <div class="card-footer">
       <a  class=" btn btn-primary" asp-area="BackOffice"  asp-action="EditRole" 
          asp-controller="Administrations"  
          asp-route-id="@role.Id">
        Editer
       </a>
    </div>
</div>


    }
}
else
{
    <h1> Aucun roles trouvées</h1>
}*@

    <div class="container">
        <div class="row">
            <!-- You can make it whatever width you want. I'm making it full width
        on <= small devices and 4/12 page width on >= medium devices -->
            <div class="col-xs-12 col-md-4">


                <!-- CREDIT CARD FORM STARTS HERE -->
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table">
                        <div class="row display-tr">
                            <h3 class="panel-title display-td">PAIEMENT</h3>
                            <div class="display-td">
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="payment-form">
                            <div class="row">
                                <div class="col-xl-md-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber">NUMERO DE CARTE</label>
                                        <div class="input-group">
                                            <input type="tel"
                                                   class="form-control"
                                                   name="cardNumber"
                                                   placeholder="Numero de carte bancaire valide"
                                                   autocomplete="cc-number"
                                                   required autofocus />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-md-xs-7 col-md-xl-md-7">
                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input type="tel"
                                               class="form-control"
                                               name="cardExpiry"
                                               placeholder="MM / YY"
                                               autocomplete="cc-exp"
                                               required />
                                    </div>
                                </div>
                                <div class="col-xl-md-xs-5 col-xl-md-xl-5 pull-right">
                                    <div class="form-group">
                                        <label for="cardCVC">CV CODE</label>
                                        <input type="tel"
                                               class="form-control"
                                               name="cardCVC"
                                               placeholder="CVC"
                                               autocomplete="cc-csc"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-md-xs-12">
                                    <div class="form-group">
                                        <label for="couponCode">PROMOTION</label>
                                        <input type="text" class="form-control" name="couponCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success btn-lg btn-block" type="submit">PAIEMENT</button>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

