@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="text-center">
    <h1>Gestion de votre compte</h1>
</div>

<div>
    <div class="container-fluid p-4" style="background-color: #e3f2fd;">
        <h4>Editer les paramètres de votre compte</h4>
        <hr />
        <div class="row">
            <div class="container-fluid p-4" style="background-color: #e3f2fd;">
                <div class="col-md-4">
                    <partial name="_ManageNav" />
                </div>
            </div>
            <div class="container-fluid p-4" style="background-color: #e3f2fd;">
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
